@import '../../../assets//scss_styles/global-imports';

.navBar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 6rem;

   .logo {
      display: flex;
      align-items: center;


      & img {
         @include size_element(100%, 100%)
      }
   }
}